#chat3 {
  height: 600px;
}

#chat3 .card-body {
  height: 100%;
}

#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
}

.chat-user-list,
.chat-messages {
  height: 100%;
  overflow-y: auto;
}

.chat-messages {
  padding-right: 1rem;
}

.chat-footer {
  border-top: 1px solid #dee2e6;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chat-footer input {
  flex-grow: 1;
}

.chat-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.linha-ajustada td {
  max-width: 200px; /* ou ajuste conforme o layout */
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.linha-ajustada td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
